<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/static/assets/css/base.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-free-6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--separate">Trang web chính thức của cửa hàng </li>
                        <li class="header__navbar-item">
                            <span class="header__navbar-title--no-pointer">Kết nối</span>
                            <a class="header__navbar-icon-link" href="#"><i class="header__navbar-icon fa-brands fa-facebook"></i></a>
                             <a class="header__navbar-icon-link" href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
                        </li>
                    </ul>
                
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">
                            <a class="header__navbar-item-link" href="#">
                                <i class="header__navbar-icon fa-solid fa-bell"></i> Thông báo
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <a class="header__navbar-item-link" href="#">
                                <i class="header__navbar-icon fa-solid fa-question"></i> Trợ giúp
                            </a>
                        </li>
                        <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate" id="navbar__register-form" >Đăng ký</li>
                        <li class="header__navbar-item header__navbar-item--strong" id="navbar__login-form">Đăng nhập</li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container">

        </div>

        <footer class="footer">

        </footer>
        
        <div class="modal" id="modal_login" style="display: none;">
            <div class="modal__overlay">
            </div>
            <!-- Login form -->
            <div class="modal__body">
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng nhập</h3>
                            <span class="auth-form__switch-btn" id="form__login-click">Đăng ký</span>
                        </div>
                        
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Tài khoản">
                            </div>
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Mật khẩu">
                            </div>
                        </div>
                        <div class="auth-form__help">
                            <a href="#" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu</a>
                            <span class="auth-form__help-sperate"></span>
                            <a href="#" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                        
                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back" id="form__login-cancel">TRỞ LẠI</button>
                            <button class="btn btn--primary">ĐĂNG NHẬP</button>
                        </div>
                    </div>
                    <div class="auth-form__socials">
                        <a href="#" class="auth-form__socials--facebook btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                            <span class="auth-form__socials-title">Kết nối với Facebook</span>
                        </a>
                        <a href="#" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fa-brands fa-google"></i>
                            <span class="auth-form__socials-title">Kết nối với Google</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="modal_register" style="display: none;">
            <div class="modal__overlay">
            </div>
            <div class="modal__body">
                    <!-- Register form -->
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                            <span class="auth-form__switch-btn" id="form__register-click">Đăng nhập</span>
                        </div>
                        
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Tài khoản">
                            </div>
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Mật khẩu">
                            </div>
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                        <div class="auth-form__aside">
                            <p class="auth-form__policy-text">
                                Bằng việc đăng ký, bạn đã đồng ý về 
                                <a href="#" class="auth-form__text-link">Điều khoản dịch vụ</a> & 
                                <a href="#" class="auth-form__text-link">Chính sách bảo mật</a>
                            </p>
                        </div>
                        
                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back" id="form__register-cancel">TRỞ LẠI</button>
                            <button class="btn btn--primary">ĐĂNG KÝ</button>
                        </div>
                    </div>

                    <div class="auth-form__socials">
                        <a href="#" class="auth-form__socials--facebook btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fa-brands fa-square-facebook"></i>
                            <span class="auth-form__socials-title">Kết nối với Facebook</span>
                        </a>
                        <a href="#" class="auth-form__socials--google btn btn--size-s btn--with-icon">
                            <i class="auth-form__socials-icon fa-brands fa-google"></i>
                            <span class="auth-form__socials-title">Kết nối với Google</span>
                        </a>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <script src="/static/assets/script/main.js"></script>
</body>
</html>